<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>blueshot</id>
    <version>version</version>
    <packageSourceUrl>https://github.com/blueshot/blueshot</packageSourceUrl>
    <owners>blueshot</owners>
    <title>blueshot</title>
    <authors>blueshot</authors>
    <projectUrl>https://getblueshot.org/</projectUrl>
    <iconUrl>https://upload.wikimedia.org/wikipedia/commons/9/95/blueshotLogo.png</iconUrl>
    <licenseUrl>https://www.gnu.org/licenses/gpl.html</licenseUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <projectSourceUrl>https://github.com/blueshot/blueshot</projectSourceUrl>
    <docsUrl>https://getblueshot.org/help/</docsUrl>
    <bugTrackerUrl>https://github.com/blueshot/blueshot/issues</bugTrackerUrl>
    <tags>blueshot screenshot screen capture notsilent</tags>
    <summary>blueshot is a light-weight screenshot software tool for Windows.</summary>
    <description>blueshot is a light-weight screenshot software tool for Windows with the following key features:
Quickly create screenshots of a selected region, window or fullscreen.
Easily annotate, highlight or obfuscate parts of the screenshot.
Export the screenshot in various ways: save to file, send to printer, copy to clipboard, attach to e-mail, send Office programs or upload to photo sites like Flickr or Picasa, and others.
...and a lot more options simplifying creation of and work with screenshots every day.

Being easy to understand and configurable, blueshot is an efficient tool for project managers, software developers, technical writers, testers and anyone else creating screenshots.</description>
    
    <releaseNotes>RELEASE_NOTES</releaseNotes>
  </metadata>
  <files>
    <file src="tools\**" target="tools" />
  </files>

</package>
